<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
		<title>后台管理</title>

		<link href="/css/libs/bootstrap.css" rel="stylesheet" />
		<link href="/css/libs/bootstrap-datetimepicker.css" rel="stylesheet" />
		<link href="/css/libs/bootstrap-theme.css" rel="stylesheet" />
		<link href="/css/libs/bootstrap-table.css" rel="stylesheet" />
		<link href="/css/libs/bootstrap-editable.css" rel="stylesheet"/>
		<link href="/css/libs/bootstrap-dialog.css" rel="stylesheet"/>
		<link href="/css/admin/admin.css" rel="stylesheet"/>

		<script src="/js/libs/jquery-2.1.4.js"></script>
		<script src="/js/libs/moment.js"></script>
		<script src="/js/libs/bootstrap.js"></script>
		<script src="/js/libs/bootstrap-datetimepicker.js"></script>
		<script src="/js/libs/bootstrap-table.js"></script>
		<script src="/js/libs/bootstrap-table-zh-CN.js"></script>
		<script src="/js/libs/bootstrap-editable.js"></script>
		<script src="/js/libs/bootstrap-dialog.js"></script>
		<script src="/js/libs/bootbox.js"></script>
		<script src="/js/libs/myDialog.js"></script>

		<script src="/js/libs/director.js"></script>
		<script src="/js/libs/underscore.js"></script>
		<script src="/js/libs/jquery.form.js"></script>
		<script src="/js/libs/xlsx.full.min.js"></script>
		<script src="/js/admin/admin.js"></script>
	</head>

	<body>
		<nav class="navbar navbar-inverse" role="navigation">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				    </button>
					<a class="navbar-brand btn-main" href="#">后台管理系统</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="active">
							<a href="#enterManage">报名管理</a>
						</li>
						<li>
							<a href="#configs">系统管理</a>
						</li>
						<li>
							<a href="#testArrange">考务安排</a>
						</li>
					</ul>

					<ul class="nav navbar-nav navbar-right">
						<li class="btn-quit">
							<a href="/admin/logout">退出</a>
						</li>
					</ul>
					<p class="navbar-text navbar-right">Welcome!
						<span><%= username %></span>
					</p>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>

		<%- include('functionView',
				{
					show:true,
					name:'报名管理',
					field:'enterManage',
					subFunc:[
						{
							field:'enterList',
							name:'报名信息管理',
							templateName:'enterList'
						},{
                            field:'addEnter',
							name:'添加/导入报名信息',
							templateName:'addEnter'
						},{
							field:'blackList',
							name:'黑名单',
							templateName:'blackList'
						}
					]
				}
		) %>
        <%- include('functionView',
				{
					show:false,
					name:'系统管理',
					field:'configs',
					subFunc:[
						{
							field:'overView',
							name:'状态摘要',
							templateName:'overView'
						},{
							field:'logs',
							name:'系统日志',
							templateName:'logs'
						},{
							field:'dbBackup',
							name:'数据库备份/还原',
							templateName:'dbBackup'
						},{
							field:'authentication',
							name:'管理员密码设置',
							templateName:'authentication'
						}
					]
				}
        ) %>
        <%- include('functionView',
				{
					show:false,
					name:'考务安排',
					field:'testArrange',
					subFunc:[
						{
							field:'examPlan',
							name:'考点计划管理',
							templateName:'examPlan'
						},{
							field:'testDate',
							name:'考试日程管理',
							templateName:'testDate'
						},{
							field:'testRoomArrange',
							name:'考场安排',
							templateName:'testRoomArrange'
						},{
							field:'scoreManage',
							name:'分数管理',
							templateName:'scoreManage'
						}
					]
				}
        ) %>
	</body>

</html>
