<!doctype html>
<html>
<head>
    <title>后台登陆</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <% if(passed){ %>
    <meta http-equiv="refresh" content="0; url=/admin" />
    <% } %>
    <link href="/css/libs/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/css/libs/bootstrap-theme.css" rel="stylesheet" />
    <link href="/css/admin/login.css" rel="stylesheet" type="text/css">

    <script src="/js/libs/jquery-3.1.1.js"></script>
    <script type="text/javascript" src="/js/libs/bootstrap.js"></script>

</head>
<body>
<div id="mainPanel" class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">后台管理系统</h3>
    </div>
    <div class="header">
        <h3 style="color:#fff;">登录</h3>
        <p style="color:#fff;">请输入账号 & 密码</p>
    </div>
    <div id="login" class="panel-body">
        <form action="/admin" method="post">
            <div class="form-group">
                <% if(error !== null){ %>
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <strong>Error!</strong> <%= error %>
                </div>
                <% } %>
                <% if(passed){ %>
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    登录成功，跳转中......<br>
                    若没有跳转，<a href="/admin">点击此处</a>
                </div>
                <% } %>
            </div>
            <div class="form-group">
                <label for="username">账号</label>
                <input type="text" class="form-control" name="username" placeholder="用户名">
            </div>
            <div class="form-group">
                <label for="password">密码</label>
                <input type="password" class="form-control" name="password" placeholder="密码">
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="keepLogin" value="true"> 保持登陆（3小时）
                </label>
            </div>
            <div class="form-group">
                <label for="captcha">验证码:</label>
                <input type="text" name="captcha" class="form-control" placeholder="验证码">
            </div>
            <div class="form-group">
                <img id = "captcha" src="/admin/captcha" onclick="this.src='/admin/captcha?t=' + Date.now()">
                <span>看不清？点击图片刷新</span>
            </div>
            <input type="submit" class="btn btn-success" value="登录">
        </form>
    </div>
</div>

</body>
</html>