<!doctype html>
<html>
<head>
    <title>后台登陆</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="/css/admin/login.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="mainPanel">
    <%if(token){%>
        <%include login%>
    <%}else{%>
        <%include config%>
    <%}%>
</div>
</body>
</html>