<html>
<head>
	<title>提交结果</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link href="/css/op_res.css" rel="stylesheet" type="text/css">
</head>

<body>
	<div id="header">

		<div style="position:relative;">
			<img src="./img/school.png">
		</div>
	</div>
	<div id='mainPanel'>
		<h4><%- res %></h4>
			<%if(info){%>
				<ul>
					<%for (key in info){%>
					<li><%= "" + data_schema_convert[key] + ":" + info[key]%></li>
					<%}%>
				</ul>
			<%}%>
		<a href="/">点此返回首页</a>
	</div>
</body>
</html>