<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>设置向导</title>
    <link href="/css/conf_guide/start.css" rel="stylesheet" type="text/css" />
    <link href="/css/conf_guide/conf_guide.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="mainPanel">
        <h1>设置向导</h1>
        <p>
            文件 LocalConfig.json.................<span class="failed">未找到</span><br />
            文件 config.json......................<span class="failed">未找到</span><br />
            <br />
            请在config目录下添加相应配置文件，或使用本设置向导生成。
        </p>
        <input type="submit" value="开始设置向导" class="btn_bottom" onclick="window.location.href='/step1'" />
    </div>
</body>
</html>