<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>设置数据库信息</title>
    <link href="/css/conf_guide/conf_guide.css" rel="stylesheet" type="text/css" />
    <link href="/css/conf_guide/step1.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="mainPanel">
        <h1>Step1:&nbsp;设置数据库信息</h1>
        <form action="step2" method="get">
            <p>
                <label for="db_name">数据库名:</label><input type="text" name="db_name" /><br />
                <span class="tips">选择用于存储数据的数据库</span>
            </p>
            <p>
                <label for="username">用户名:</label><input type="text" name="username" /><br />
                <span class="tips">你的MySQL用户名</span>
            </p>
            <p>
                <label for="password">密码:</label><input type="text" name="password" /><br />
                <span class="tips">及其密码</span>
            </p>
            <p>
                <label for="db_url">数据库URL:</label><input type="text" name="db_url" /><br />
                <span class="tips">
                    MySQL的位置<br />
                    对于本地数据库，设置为"localhost"
                </span>
            </p>

            <input type="submit" value="下一步"/>
        </form>
    </div>
</body>
</html>