<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>设置数据库信息</title>
    
    <link href="/css/conf_guide/conf_guide.css" rel="stylesheet" type="text/css" />
    <link href="/css/conf_guide/step2.css" rel="stylesheet" type="text/css" />
    <link href="/css/libs/TS_DataGrid.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="/js/libs/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/js/libs/TS_DataGrid.js"></script>
    <script type="text/javascript" src="/js/conf_guide/step2.js"></script>
</head>
<body>
    <div class="mainPanel">
        <h1>Step2:&nbsp;设置考点 &amp; 学科信息</h1>

        <div class="codedict">
            <div class="header">
                <h2>考点</h2>
                <a class="newline" href="#">new</a>
                <a class="delline" href="#">delete</a>
                <div style="clear:both"></div>
            </div>
            <div class ="exam_site list_content">

            </div>
        </div>
        <div class="placeholder"></div>
        <div class="codedict">
            <div class="header">
                <h2>科目</h2>
                <a class="newline" href="#">new</a>
                <a class="delline" href="#">delete</a>
                <div style="clear:both"></div>
            </div>
            <div class="subject list_content">

            </div>
        </div>
        <div style="clear:both"></div>
        <form action="step3" method="get">
            <input type="hidden" name="exam_sites" />
            <input type="submit" value="下一步" tabindex="-1" />
        </form>
        
    </div>
</body>

</html>