body{
	margin:0px;
	background-color: #66ccff;
	text-align: center;
	padding-top: 7%;
	font-family: Microsoft YaHei;
	color:#fff;
}

img{
	height: 48px;
}

#nav h1{
	font-size: 80px;
	font-weight: lighter;
	margin-bottom: 20px;
}
#header h2{
	font-size: 60px;
	font-weight: lighter;
	margin-top: 0px;
	margin-bottom:32px;
}

#read_info{
	width: 150px;
	margin-top:32px;
	margin-right: 24px;
}

#get_id_number{
	margin-top: 32px;
}

button,input[type="submit"]{
	font-size: 20px;
	padding: 12px;
	border: 3px solid #fff;
	border-radius: 12px;
	background-color: #66ccff;
	color:#fff;
}

input[type="submit"]{
	  border-radius: 0px 12px 12px 0px;
}

input[type="submit"]:focus{
	outline:none;
}

#id_number{
	font-size: 20px;
	padding:12px;
	border: 3px solid #fff;
	border-radius: 12px 0px 0px 12px;
	background-color: #66ccff;
	color:#fff;
	margin-right: -7px;
}

#id_number:focus{
	outline:none;
}

button:hover,input[type="submit"]:hover{
	color:#66ccff;
	background-color: #fff;
}

button:active,input[type="submit"]:active{
	background-color: #eee;
}

#info{
	width:600px;
	margin: 0 auto;
	text-align: center;
}
#content{
	text-align: left;
}

#content+a>button{
	margin:32px 0px 48px;
}