body{
	margin:0px;
	background-color: #66ccff;
	text-align: center;
	padding-top: 12%;
	font-family: Microsoft YaHei;
	color:#fff;
}
h1{
	font-size: 80px;
	font-weight: lighter;
	margin-bottom: 20px;
}
h2{
	font-size: 60px;
	font-weight: lighter;
	margin-top: 0px;
}
button{
	width: 150px;
	font-size: 20px;
	padding: 12px;
	border: 3px solid #fff;
	border-radius: 12px;
	background-color: #66ccff;
	color:#fff;
}

button:hover{
	color:#66ccff;
	background-color: #fff;
	border-color: #66ccff;
}

button:active{
	background-color: #eee;
}