<div id="<%= field %>" class="subFuncContent panel panel-default"
     style="display: <% if(show){ %>block<% }else{ %> none <% } %>">
    <script src="/js/admin/enterManage/addEnter.js"></script>

    <div class="panel-heading">
        <h3 class="panel-title"><%= name %></h3>
    </div>
    <div class="panel-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 err_msg">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <h4>添加报名信息</h4>
                    <hr>
                    <form class="manuallyAdd form-horizontal center-block">
                        <div class="form-group">
                            <label class="col-xs-3 control-label">考点</label>
                            <div class="col-xs-9">
                                <select name="exam_site_code" class="form-control"
                                        data-source="/codeRef/exam_site_code"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-3 control-label">考试科目</label>
                            <div class="col-xs-9">
                                <select name="subject_code" class="form-control"
                                        data-source="/codeRef/subject_code"></select>
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-xs-3 control-label">姓名</label>
                            <div class="col-xs-9">
                                <input name="name" type="text" class="form-control" required="required">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-3 control-label">性别</label>
                            <div class="col-xs-9">
                                <select name="sex" type="text" class="form-control" data-source="/codeRef/sex"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-3 control-label">证件类型</label>
                            <div class="col-xs-9">
                                <select name="id_type" type="text" class="form-control"
                                        data-source="/codeRef/id_type"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-3 control-label">证件号码</label>
                            <div class="col-xs-9">
                                <input name="id_number" type="text" class="form-control" required="required">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-3 control-label">出生日期</label>
                            <div class="col-xs-9">
                                <input name="birthday" type="text" class="form-control" required="required">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-3 control-label">民族</label>
                            <div class="col-xs-9">
                                <select name="nationality" type="text" class="form-control"
                                        data-source="/codeRef/nationality"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-3 control-label">职业</label>
                            <div class="col-xs-9">
                                <select name="career" type="text" class="form-control"
                                        data-source="/codeRef/career"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-3 control-label">文化程度</label>
                            <div class="col-xs-9">
                                <select name="degree_of_education" type="text" class="form-control"
                                        data-source="/codeRef/degree_of_education"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-3 control-label">培训类型</label>
                            <div class="col-xs-9">
                                <select name="training_type" type="text" class="form-control"
                                        data-source="/codeRef/training_type"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-3 control-label">联系电话</label>
                            <div class="col-xs-9">
                                <input name="phone" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-3 control-label">邮编</label>
                            <div class="col-xs-9">
                                <input name="post_code" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-3 control-label">地址</label>
                            <div class="col-xs-9">
                                <input name="address" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-3 control-label">电子邮箱</label>
                            <div class="col-xs-9">
                                <input name="email" type="text" class="form-control" required="required">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-3 control-label">备注</label>
                            <div class="col-xs-9">
                                <input name="remark" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-offset-8 col-xs-4">
                                <button type="submit" class="addIntoBuffer btn btn-primary">加入缓冲区</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-9">
                    <h4>导入缓冲区</h4>
                    <hr>
                    <div class="row">
                        <div class="col-xs-12 toolbar form-inline" style="margin-bottom:10px;">
                            <div class="pull-left">
                                <div class="form-inline" role="form">
                                    <div class="form-group">
                                        <div class="btn-group">
                                            <button class="btn btn-danger delete" data-toggle="tooltip"
                                                    data-placement="bottom"
                                                    title="删除选中的行">
                                                <i class="glyphicon glyphicon-trash"></i> 删除
                                            </button>
                                            <button class="btn btn-danger deleteAll" data-toggle="tooltip"
                                                    data-placement="bottom"
                                                    title="清空缓冲区">
                                                <i class="glyphicon glyphicon-trash"></i> 清空
                                            </button>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-primary toggle" title="切换为表格/卡片视图">
                                                <i class="glyphicon glyphicon-list-alt icon-list-alt"></i> 切换视图
                                            </button>
                                            <button class="btn btn-primary forceAdd" title="清空缓冲区" data-toggle="modal"
                                                    data-target=".addEnter-import">
                                                <i class="glyphicon glyphicon-import"></i> 导入
                                            </button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="pull-right">
                                <div class="form-inline" role="form">
                                    <div class="btn-group">
                                        <button class="btn btn-primary add" data-toggle="tooltip"
                                                data-placement="bottom"
                                                title="删除选中的行">
                                            <i class="glyphicon glyphicon-cloud-upload"></i> 添加
                                        </button>
                                        <button class="btn btn-primary forceAdd" data-toggle="tooltip"
                                                data-placement="bottom"
                                                title="清空缓冲区">
                                            <i class="glyphicon glyphicon-cloud-upload"></i> 强制添加
                                        </button>
                                    </div>
                                </div>
                            </div><!-- /pull right -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <table class="importBuffer"></table>
                        </div>
                    </div>
                    <!-- 导入对话框 -->
                    <div class="modal fade addEnter-import" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <form action="/admin/enterManager/blackList" enctype="multipart/form-data"
                                      method="post">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title">数据导入</h4>
                                    </div>
                                    <div class="modal-body form">
                                        <div class="form-group">
                                            <h5>文件：</h5>
                                            <hr>
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder="File Name"
                                                       disabled>
                                                <span class="input-group-btn">
                                                    <label for="file_addEnter" class="btn btn-primary">选择文件</label>
                                                    <input id="file_addEnter" name="file" type="file" style="position:absolute;clip:rect(0 0 0 0);">
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <h5>导入说明</h5>
                                            <hr>
                                            <h6><b>支持的文件类型:</b></h6>
                                            <p>
                                                xls,xlsx,dbf
                                            </p>
                                            <h6><b>各个数据项对应的表头名称:</b></h6>
                                            <table class="table table-bordered table-striped table-condensed"
                                                   style="max-width: 320px">
                                                <tr>
                                                    <th>数据项名称</th>
                                                    <th>表头名称</th>
                                                </tr>
                                                <tr>
                                                    <td>exam_site_code</td>
                                                    <td>考点(代码)</td>
                                                </tr>
                                                <tr>
                                                    <td>subject_code</td>
                                                    <td>考试科目(代码)</td>
                                                </tr>
                                                <tr>
                                                    <td>name</td>
                                                    <td>姓名</td>
                                                </tr>
                                                <tr>
                                                    <td>sex</td>
                                                    <td>性别(代码)</td>
                                                </tr>
                                                <tr>
                                                    <td>birthday</td>
                                                    <td>出生日期</td>
                                                </tr>
                                                <tr>
                                                    <td>id_type</td>
                                                    <td>证件类型(代码)</td>
                                                </tr>
                                                <tr>
                                                    <td>id_number</td>
                                                    <td>证件号码</td>
                                                </tr>
                                                <tr>
                                                    <td>nationality</td>
                                                    <td>民族(代码)</td>
                                                </tr>
                                                <tr>
                                                    <td>career</td>
                                                    <td>职业(代码)</td>
                                                </tr>
                                                <tr>
                                                    <td>degree_of_education</td>
                                                    <td>文化程度(代码)</td>
                                                </tr>
                                                <tr>
                                                    <td>training_type</td>
                                                    <td>培训类型(代码)</td>
                                                </tr>

                                                <tr>
                                                    <td>post_code</td>
                                                    <td>邮政编码</td>
                                                </tr>
                                                <tr>
                                                    <td>address</td>
                                                    <td>地址</td>
                                                </tr>
                                                <tr>
                                                    <td>email</td>
                                                    <td>电子邮箱</td>
                                                </tr>
                                                <tr>
                                                    <td>phone</td>
                                                    <td>联系电话</td>
                                                </tr>
                                                <tr>
                                                    <td>remark</td>
                                                    <td>备注</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- 中断处理对话框 -->
                    <div class="modal fade addEnter-interruptHandle" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header"><h5 class="modal-title">传输中断</h5></div>
                                <div class="modal-body">
                                    <p>
                                        <label>错误信息：</label><span class="msg"></span><br>
                                        <b>接下来怎么做？</b>
                                    </p>
                                    <div style="text-align: right; line-height: 3em;">
                                            <button type="button" class="action1 btn btn-primary">1.中断传输，回去修改</button><br>
                                            <button type="button" class="action2 btn btn-primary">2.强制添加当前项，不改变后面的添加方式</button><br>
                                            <button type="button" class="action3 btn btn-primary">3.强制添加当前项与之后的数据项</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>