<div id="<%= field %>" class="subFuncContent panel panel-default"
     style="display: <% if(show){ %>block<% }else{ %> none <% } %>">
    <script src="/js/admin/enterManage/addEnter.js"></script>

    <div class="panel-heading">
        <h3 class="panel-title"><%= name %></h3>
    </div>
    <div class="panel-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 err_msg">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <h4>添加报名信息</h4>
                    <hr>
                    <form class="manuallyAdd form-horizontal center-block">
                        <div class="form-group">
                            <label class="col-xs-3 control-label">考点</label>
                            <div class="col-xs-9">
                                <select name="exam_site_code" class="form-control"
                                        data-source="/codeRef/exam_site_code"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-3 control-label">考试科目</label>
                            <div class="col-xs-9">
                                <select name="subject_code" class="form-control"
                                        data-source="/codeRef/subject_code"></select>
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-xs-3 control-label">姓名</label>
                            <div class="col-xs-9">
                                <input name="name" type="text" class="form-control" required="required">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-3 control-label">性别</label>
                            <div class="col-xs-9">
                                <select name="sex" type="text" class="form-control" data-source="/codeRef/sex"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-3 control-label">证件类型</label>
                            <div class="col-xs-9">
                                <select name="id_type" type="text" class="form-control"
                                        data-source="/codeRef/id_type"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-3 control-label">证件号码</label>
                            <div class="col-xs-9">
                                <input name="id_number" type="text" class="form-control" required="required">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-3 control-label">出生日期</label>
                            <div class="col-xs-9">
                                <input name="birthday" type="text" class="form-control" required="required">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-3 control-label">民族</label>
                            <div class="col-xs-9">
                                <select name="nationality" type="text" class="form-control"
                                        data-source="/codeRef/nationality"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-3 control-label">职业</label>
                            <div class="col-xs-9">
                                <select name="career" type="text" class="form-control"
                                        data-source="/codeRef/career"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-3 control-label">文化程度</label>
                            <div class="col-xs-9">
                                <select name="degree_of_education" type="text" class="form-control"
                                        data-source="/codeRef/degree_of_education"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-3 control-label">培训类型</label>
                            <div class="col-xs-9">
                                <select name="training_type" type="text" class="form-control"
                                        data-source="/codeRef/training_type"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-3 control-label">联系电话</label>
                            <div class="col-xs-9">
                                <input name="phone" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-3 control-label">邮编</label>
                            <div class="col-xs-9">
                                <input name="post_code" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-3 control-label">地址</label>
                            <div class="col-xs-9">
                                <input name="address" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-3 control-label">电子邮箱</label>
                            <div class="col-xs-9">
                                <input name="email" type="text" class="form-control" required="required">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-3 control-label">备注</label>
                            <div class="col-xs-9">
                                <input name="remark" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-offset-8 col-xs-4">
                                <button type="submit" class="addIntoBuffer btn btn-primary">加入缓冲区</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-9">
                    <h4>导入缓冲区</h4>
                    <hr>
                    <div class="row">
                        <div class="col-xs-12 toolbar form-inline" style="margin-bottom:10px;">
                            <div class="pull-left">
                                <div class="form-inline" role="form">
                                    <div class="form-group">
                                        <div class="btn-group">
                                            <button class="btn btn-danger delete" data-toggle="tooltip"
                                                    data-placement="bottom"
                                                    title="删除选中的行">
                                                <i class="glyphicon glyphicon-trash"></i> 删除
                                            </button>
                                            <button class="btn btn-danger deleteAll" data-toggle="tooltip"
                                                    data-placement="bottom"
                                                    title="清空缓冲区">
                                                <i class="glyphicon glyphicon-trash"></i> 清空
                                            </button>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-primary toggle" title="切换为表格/卡片视图">
                                                <i class="glyphicon glyphicon-list-alt icon-list-alt"></i> 切换视图
                                            </button>
                                            <button class="btn btn-primary import" title="导入" >
                                                <i class="glyphicon glyphicon-import"></i> 导入
                                            </button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="pull-right">
                                <div class="form-inline" role="form">
                                    <div class="btn-group">
                                        <button class="btn btn-primary add" data-toggle="tooltip"
                                                data-placement="bottom"
                                                title="删除选中的行">
                                            <i class="glyphicon glyphicon-cloud-upload"></i> 添加
                                        </button>
                                        <button class="btn btn-primary forceAdd" data-toggle="tooltip"
                                                data-placement="bottom"
                                                title="清空缓冲区">
                                            <i class="glyphicon glyphicon-cloud-upload"></i> 强制添加
                                        </button>
                                    </div>
                                </div>
                            </div><!-- /pull right -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <table class="importBuffer"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>