<div id="photoManage" class="subFuncContent panel panel-default"
     style="display: <% if(show){ %>block<% }else{ %> none <% } %>">
    <script type="text/javascript" src="/js/admin/enterManage/photoManage.js"></script>
    <style>
        #photoManage .fixed-table-container,#photoManage .photoTable{
            border-width: 0px;
        }
        #photoManage .fixed-table-body{
            overflow: hidden;
        }

        .photoTable tr{
            width:194px;
            height: 340px;
            position: relative;
            float:left;
            margin:0px;
        }
        .photoTable tr td{
            width:194px;
            height: 340px;
            border-top: none !important;
        }
        .photoTable tr td img{
            width:165px;
            height:220px;
        }
        .photoTable tbody .selected td{
             background-color: initial;
        }

        .photoTable  tbody  tr:hover{
            background-color: #e5e5e5;
        }
        .photoTable tbody .selected{
            background-color: #e5e5e5;
        }

    </style>

    <div class="panel-heading">
        <h3 class="panel-title"><%= name %></h3>
    </div>
    <div class="panel-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 message">

                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 toolbar form-inline" style="margin-bottom:10px;">
                    <div class="pull-left">
                        <div class="form-inline" role="form">
                            <div class="form-group">
                                <div class="btn-group">
                                    <button class="btn btn-danger delete" data-toggle="tooltip" data-placement="bottom"
                                            title="删除选中的行">
                                        <i class="glyphicon glyphicon-trash"></i> 删除
                                    </button>
                                    <button class="btn btn-danger deleteAll" data-toggle="tooltip" data-placement="bottom"
                                            title="删除选中的行">
                                        <i class="glyphicon glyphicon-trash"></i> 删除全部
                                    </button>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary refresh"  title="刷新表格">
                                        <i class="glyphicon glyphicon-refresh"></i> 刷新
                                    </button>
                                    <button type="button" class="btn btn-primary add"  title="添加照片">
                                        <i class="glyphicon glyphicon-plus"></i> 添加
                                    </button>
                                    <button type="button" class="btn btn-primary import"  title="导入照片包">
                                        <i class="glyphicon glyphicon-import"></i> 导入
                                    </button>
                                    <button type="button" class="btn btn-primary export"  title="导出照片包">
                                        <i class="glyphicon glyphicon-export"></i> 导出
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="pull-right">
                        <div class="form-inline" role="form">
                            <div class="form-group">
                                <input name="searchText" type="text" class="form-control" placeholder="搜索">
                            </div>
                            <div class="checkbox">
                                <label title="选中后，结果搜索内容严格匹配">
                                    <input type="checkbox" name="strictMode" > 严格匹配模式
                                </label>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary search" type="button">
                                    <i class="glyphicon glyphicon-search"></i> 搜索
                                </button>
                            </div>
                        </div>
                    </div><!-- /pull right -->
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="photoTable">

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>