<html>
<head>
	<title>考生信息</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<script src="/js/libs/jquery-2.1.4.js"></script>
	<script type="text/javascript" src="/js/getinfo.js"></script>
	<link href="/css/getinfo.css" rel="stylesheet" type="text/css">
	<style type="text/css"></style>
</head>

<body>
	<div id="header">

		<div style="position:relative;">
			<img src="./img/school.png">
			<h1>考生信息</h1>
			<p>
				检查你的个人信息
				<br>如果有错误,请在现场报名阶段更正</p>
		</div>
	</div>
	<div id='mainPanel'>
		<% if(info==null){ %>
			未找到与您输入的证件号码相匹配的报名信息，请重新报名，或与管理员联系。
		<%}else{%>
			<table>
				<th>信息名称</th><th>信息内容</th>
			<% for (key in info){%>
			<tr><td class="key"><%= key %></td><td class="value"><%= info[key] %></td></tr>
			<% }%>
			</table>
		<%}%>
	</div>
</body>
</html>
