<html>
<head>
	<title>考生信息</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />

	<script src="/js/libs/jquery-2.1.4.js"></script>
	<link href="/css/getScoreInfo.css" rel="stylesheet" type="text/css">
	<style type="text/css"></style>
</head>

<body>
	<div id="header">

		<div style="position:relative;">
			<img src="./img/school.png">
			<h1>分数信息</h1>
			<p>
				你的考试成绩<br>
				包括分数,等第与证书编号</p>
		</div>
	</div>
	<div id='mainPanel'>
		<div>
            <% if(info==null){ %>
			未找到与您输入的证件号码相匹配的分数信息，请与管理员联系。
            <%}else{%>
			<table>
				<th>信息名称</th><th>信息内容</th>
                <% for (key in info){%>
				<tr><td class="key"><%= key %></td><td class="value"><%= info[key] %></td></tr>
                <% }%>
			</table>
            <%}%>
		</div>

	</div>
</body>
</html>
