<html>
<head>
    <title>考生须知</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />

    <link href="/css/instructions.css" rel="stylesheet" type="text/css">
</head>

<body>
<div id="header">

    <div style="position:relative;">
        <img src="./img/school.png">
    </div>
</div>
<div id='mainPanel'>
    <div>
        <div id="info">
            <h1>考生须知</h1>
            <div id="content">
                <% if(isPreview === true){ %>
                <%- content %>
                <% } else { %>
                <%- include('./templates/' + content) %>
                <%}%>
            </div>
            <a href='/enter'>
                <button onclick="window.location = '/enter'">我已阅读本须知，可以填报</button>
            </a>
        </div>
    </div>
</div>
</body>
</html>