<html>
<head>
	<title>提交结果</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link href="/css/op_res.css" rel="stylesheet" type="text/css">
</head>

<body>
	<div id="header">

		<div style="position:relative;">
			<img src="./img/school.png">
		</div>
	</div>
	<div id='mainPanel'>
		<div>
            <% if(isPreview === true){ %>
            <%- content %>
            <% } else { %>
            <%- include('./templates/' + content) %>
            <%}%>
		</div>
	</div>
</body>
</html>