<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<!--<script type="text/javascript" src="http://cdn.bootcss.com/jquery/1.11.3/jquery.js"></script>
-->
<script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/js/index.js"></script>
<link href="/css/index.css" rel="stylesheet" type="text/css">
<style type="text/css"></style>
</head>

<body>
<div id="header">

	<div style="position:relative;">
		<img src="./img/school.png">
		<h1>考生信息录入</h1>
		<p>
			在这里输入你的个人信息
			<br>注意必填的项目</p>
	</div>
</div>

<div id='mainPanel'>
	<form name="info_form" action="submit" method="post">

		<div class="" id="input_exam_site_code">
			<label for="exam_site_code">考点(必填):</label>
			<select class="" name="exam_site_code">
				<option value="0">请选择</option>
				<option value="410067">华北水利水电大学（郑东新区）</option>
				<option value="410067">华北水利水电大学（北环路36号）</option>
			</select>
		</div>
		<div id="input_name">
			<label for="name">姓名(必填):</label>
			<input name="name" type="text">
			<span class="validated_result"></span>
		</div>

		<div id="input_sex">
			<label for="sex">性别(必选):</label>
			男
			<input type="radio" name="sex" value="male">
			&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp女
			<input type="radio" name="sex" value="famale"></div>
		<span class="validated_result"></span>

		<div id="input_id_type">
			<label for="id_type">证件类型(必选):</label>
			<select name="id_type">
				<option value="1" selected="selected">中华人民共和国居民身份证</option>
				<option value="2">台湾居民往来大陆通行证</option>
				<option value="3">港澳居民来往内地通行证</option>
				<option value="4">军人证件</option>
				<option value="5">护照</option>
			</select>
			<span class="validated_result"></span>
		</div>

		<div id="input_id_number">
			<label for="id_number">证件号码(必填);</label>
			<input type="text" name="id_number">
			<span class="validated_result"></span>
		</div>

		<div class="" id="input_birthday">
			<label for="birthday">出生日期(必填)</label>
			<input type="text" name="birthday">
			<span class="validated_result"></span>
			<div class="tips">
				请填写8位出生日期
				<br>如:19940123</div>
		</div>

		<div id="input_nationality">
			<label for="nationality">民族(必选):</label>
			<select name="nationality">
				<option value="0">请选择</option>
				<option value="1">汉</option>
				<option value="2">蒙古</option>
				<option value="3">回</option>
				<option value="4">藏</option>
				<option value="5">维吾尔</option>
				<option value="6">苗</option>
				<option value="7">彝</option>
				<option value="8">壮</option>
				<option value="9">布依</option>
				<option value="10">朝鲜</option>
				<option value="11">满</option>
				<option value="12">侗</option>
				<option value="13">瑶</option>
				<option value="14">白</option>
				<option value="15">土家</option>
				<option value="16">哈尼</option>
				<option value="17">哈萨克</option>
				<option value="18">傣</option>
				<option value="19">黎</option>
				<option value="20">傈僳</option>
				<option value="21">佤</option>
				<option value="22">畲</option>
				<option value="23">高山</option>
				<option value="24">拉祜</option>
				<option value="25">水</option>
				<option value="26">东乡</option>
				<option value="27">纳西</option>
				<option value="28">景颇</option>
				<option value="29">柯尔克孜</option>
				<option value="30">土</option>
				<option value="31">达斡尔</option>
				<option value="32">仫佬</option>
				<option value="33">羌</option>
				<option value="34">布朗</option>
				<option value="35">撒拉</option>
				<option value="36">毛难</option>
				<option value="37">仡佬</option>
				<option value="38">锡伯</option>
				<option value="39">阿昌</option>
				<option value="40">普米</option>
				<option value="41">塔吉克</option>
				<option value="42">怒</option>
				<option value="43">乌孜别克</option>
				<option value="44">俄罗斯</option>
				<option value="45">鄂温克</option>
				<option value="46">德昂</option>
				<option value="47">保安</option>
				<option value="48">裕固</option>
				<option value="49">京</option>
				<option value="50">塔塔尔</option>
				<option value="51">独龙</option>
				<option value="52">鄂伦春</option>
				<option value="53">赫哲</option>
				<option value="54">门巴</option>
				<option value="55">珞巴</option>
				<option value="56">基诺</option>
				<option value="97">其他</option>
				<option value="98">外国血统</option>
			</select>
			<span class="validated_result"></span>
		</div>

		<div id="input_career">
			<label for="career">职业(必选):</label>
			<select class="" name="career">
				<option value="00">请选择</option>
				<option value="01">中国共产党中央委员会和地方各级组织负责人</option>
				<option value="02">国家机关及其工作机构负责人</option>
				<option value="03">民主党派和社会团体及其工作机构负责人</option>
				<option value="04">事业单位负责人</option>
				<option value="05">企业负责人</option>
				<option value="08">军人</option>
				<option value="09">不便分类的其他从业人员</option>
				<option value="10">失业（含待业及无业人员）</option>
				<option value="11">科学研究人员</option>
				<option value="13">工程技术人员</option>
				<option value="17">农业技术人员</option>
				<option value="18">飞机和船舶技术人员</option>
				<option value="19">卫生专业技术人员</option>
				<option value="21">经济业务人员</option>
				<option value="22">金融业务人员</option>
				<option value="23">法律专业人员</option>
				<option value="24">教学人员</option>
				<option value="25">文学艺术工作人员</option>
				<option value="26">体育工作人员</option>
				<option value="27">新闻出版、文化工作人员</option>
				<option value="28">宗教职业者</option>
				<option value="29">其他专业技术人员</option>
				<option value="30">学生</option>
				<option value="31">行政办公人员</option>
				<option value="32">安全保卫和消防人员</option>
				<option value="33">邮政和电信业务人员</option>
				<option value="39">其他办事人员和有关人员</option>
				<option value="41">购销人员</option>
				<option value="42">仓储人员</option>
				<option value="43">餐饮服务人员</option>
				<option value="44">饭店、旅游及健身娱乐场所服务人员</option>
				<option value="45">运输服务人员</option>
				<option value="46">医疗卫生辅助服务人员</option>
				<option value="47">社会服务和居民生活服务人员</option>
				<option value="49">其他商业、服务业人员</option>
				<option value="51">种植业生产人员</option>
				<option value="52">林业生产及野生动植物保护人员</option>
				<option value="53">畜牧业生产人员</option>
				<option value="54">渔业生产人员</option>
				<option value="55">水利设施管理养护人员</option>
				<option value="59">其他农、林、牧、渔、水利业生产人员</option>
				<option value="61">勘测及矿物开采人员</option>
				<option value="62">金属冶炼、轧制人员</option>
				<option value="64">化工产品生产人员</option>
				<option value="66">机械制造加工人员</option>
				<option value="67">机电产品装配人员</option>
				<option value="71">机械设备修理人员</option>
				<option value="72">电力设备安装、运行、检修及供电人员</option>
				<option value="73">电子元器件与设备制造、装配、调试及维修人员</option>
				<option value="74">橡胶和塑料制品生产人员</option>
				<option value="75">纺织、针织、印染人员</option>
				<option value="76">裁剪、缝纫和皮革、毛皮制品加工制作人员</option>
				<option value="77">粮油、食品、饮料生产加工及饲料生产加工人员</option>
				<option value="78">烟草及其制品加工人员</option>
				<option value="79">药品生产人员</option>
				<option value="81">木材加工、人造板生产、木制品制作及制浆、造纸和纸制品生产加工人员</option>
				<option value="82">建筑材料生产加工人员</option>
				<option value="83">玻璃、陶瓷、搪瓷及其制品生产加工人员</option>
				<option value="84">广播影视制品制作、播放及文物保护作业人员</option>
				<option value="85">印刷人员</option>
				<option value="86">工艺、美术品制作人员</option>
				<option value="87">文化教育、体育用品制作人员</option>
				<option value="88">工程施工人员</option>
				<option value="91">运输设备操作人员及有关人员</option>
				<option value="92">环境监测与废物处理人员</option>
				<option value="93">检验、计量人员</option>
				<option value="99">其他生产、运输设备操作人员及有关人员</option>
			</select>
			<span class="validated_result"></span>
		</div>

		<div class="" id="input_degree_of_education">
			<label for="degree_of_education">文化程度(必选):</label>
			<select class="" name="degree_of_education">
				<option value="0">请选择</option>
				<option value="1">博士</option>
				<option value="2">硕士</option>
				<option value="3">本科</option>
				<option value="4">大专(专科)</option>
				<option value="5">高中(职高)</option>
				<option value="6">中专(中技)</option>
				<option value="7">初中</option>
				<option value="8">初中以下</option>
			</select>
			<span class="validated_result"></span>
		</div>

		<div class="" id="input_training_type">
			<label for="training_type">培训类型(必选):</label>
			<select class="" name="training_type">
				<option value="0">请选择</option>
				<option value="1">在校正规课程</option>
				<option value="2">社会培训班</option>
				<option value="3">未参加培训</option>
			</select>
			<span class="validated_result"></span>
		</div>

		<div class="" id="input_subject_code">
			<label for="subject_code">考试科目(必选):</label>
			<select class="" name="subject_code">
				<option value="0">请选择</option>
				<option value="1">科目一</option>
				<option value="2">科目二</option>
			</select>
			<span class="validated_result"></span>
		</div>
		<div class="" id="input_phone">
			<label for="phone">联系电话(必填):</label>
			<input type="text" name="phone" value="">
			<span class="validated_result"></span>
		</div>
		<div class="" id="input_post_code">
			<label for="post_code">邮编:</label>
			<input type="text" name="post_code" value="">
			<span class="validated_result"></span>
		</div>

		<div class="" id="input_address">
			<label for="address">地址:</label>
			<input type="text" name="address" value="">
			<span class="validated_result"></span>
		</div>

		<div class="" id="input_email">
			<label for="email">电子邮箱:</label>
			<input type="text" name="email" value="">
			<span class="validated_result"></span>
		</div>

		<div id="remark">
			<h4>备注</h4>
			<div class="" id="input_is_our_school">
				<label for="is_our_school">是否为本校学生？</label>
				<input type="checkbox" name="is_our_school" value="true">
			</div>

			<div class="" id="input_remark_for_not_our_school">
				<select class="" name="school">
					<option value="0">请选择学校</option>
					<option value="02">其他学校或工作单位</option>
					<option value="02">郑州大学</option>
					<option value="03">河南工业大学</option>
					<option value="04">河南农业大学</option>
					<option value="05">河南财经政法大学</option>
					<option value="06">铁道警察学院</option>
					<option value="07">郑州轻工业学院</option>
					<option value="08">中原工学院</option>
					<option value="09">河南牧业经济学院</option>
					<option value="10">河南中医学院</option>
					<option value="11">郑州航空工业管理学院</option>
					<option value="12">河南工程学院</option>
					<option value="13">河南警察学院</option>
					<option value="14">黄河科技学院</option>
					<option value="15">郑州科技学院</option>
					<option value="16">郑州华信学院</option>
					<option value="17">郑州师范学院</option>
					<option value="18">郑州成功财经学院</option>
					<option value="19">郑州升达经贸管理学院</option>
					<option value="20">河南财政税务高等专科学校</option>
					<option value="21">郑州电力高等专科学校</option>
					<option value="22">郑州幼儿师范高等专科学校</option>
					<option value="23">河南医学高等专科学校</option>
					<option value="24">郑州澍青医学高等专科学校</option>
					<option value="25">河南职业技术学院</option>
					<option value="26">郑州铁路职业技术学院</option>
					<option value="27">中州大学</option>
					<option value="28">河南水利与环境职业学院</option>
					<option value="29">河南信息统计职业学院</option>
					<option value="30">郑州电力职业技术学院</option>
					<option value="31">河南建筑职业技术学院</option>
					<option value="32">郑州城市职业学院</option>
					<option value="33">郑州理工职业学院</option>
					<option value="34">郑州信息工程职业学院</option>
					<option value="35">河南化工职业学院</option>
					<option value="35">河南艺术职业学院</option>
					<option value="37">河南机电职业学院</option>
					<option value="38">郑州商贸旅游职业学院</option>
					<option value="39">郑州黄河护理职业学院</option>
					<option value="40">郑州财税金融职业学院</option>
					<option value="41">河南司法警官职业学院</option>
					<option value="42">郑州经贸职业学院</option>
					<option value="43">郑州交通职业学院</option>
					<option value="44">河南检察职业学院</option>
					<option value="45">郑州信息科技职业学院</option>
					<option value="46">郑州电子信息职业技术学院</option>
					<option value="47">嵩山少林武术职业学院</option>
					<option value="48">郑州工业安全职业学院</option>
					<option value="49">河南经贸职业学院</option>
					<option value="50">河南交通职业技术学院</option>
					<option value="51">河南农业职业学院</option>
					<option value="52">郑州旅游职业学院</option>
					<option value="53">郑州职业技术学院</option>
					<option value="54">河南工业贸易职业学院</option>
				</select>
			</div>

			<div class="" id="input_remark_for_is_our_school">
				<select class="" name="department">
					<option value="0">学院</option>
					<option value="01">资环</option>
					<option value="02">水利</option>
					<option value="03">土木</option>
					<option value="04">机械</option>
					<option value="05">电力</option>
					<option value="06">环工</option>
					<option value="07">管经</option>
					<option value="08">信工</option>
					<option value="09">外语</option>
					<option value="10">数信</option>
					<option value="11">法学</option>
					<option value="43">国教</option>
					<option value="45">建筑</option>
					<option value="49">软件</option>
				</select>
				<select class="" name="class">
					<option department="0" value="0">班级</option>
					<option department="01" value="2013001">2013001地质</option>
					<option department="01" value="2013002">2013002地质</option>
					<option department="01" value="2013003">2013003地质</option>
					<option department="01" value="2013004">2013004地质</option>
					<option department="01" value="2013005">2013005物探</option>
					<option department="01" value="2013006">2013006物探</option>
					<option department="01" value="2013007">2013007岩土</option>
					<option department="01" value="2013008">2013008岩土</option>
					<option department="01" value="2013009">2013009人文地理</option>
					<option department="01" value="2013010">2013010人文地理</option>
					<option department="01" value="2013011">2013011地理</option>
					<option department="01" value="2013012">2013012地理</option>
					<option department="01" value="2013013">2013013测绘</option>
					<option department="01" value="2013014">2013014测绘</option>
					<option department="01" value="2013015">2013015测绘</option>
					<option department="02" value="2013016">2013016农水</option>
					<option department="02" value="2013017">2013017农水</option>
					<option department="02" value="2013018">2013018农水</option>
					<option department="02" value="2013019">2013019农水</option>
					<option department="02" value="2013020">2013020水工</option>
					<option department="02" value="2013021">2013021水工</option>
					<option department="02" value="2013022">2013022水工</option>
					<option department="02" value="2013023">2013023水工</option>
					<option department="02" value="2013024">2013024水工</option>
					<option department="02" value="2013025">2013025水工</option>
					<option department="02" value="2013026">2013026水工</option>
					<option department="02" value="2013027">2013027水工</option>
					<option department="02" value="2013028">2013028水工</option>
					<option department="02" value="2013029">2013029工程管理</option>
					<option department="02" value="2013030">2013030工程管理</option>
					<option department="02" value="2013031">2013031工程管理</option>
					<option department="02" value="2013032">2013032工程造价</option>
					<option department="02" value="2013033">2013033工程造价</option>
					<option department="02" value="2013034">2013034工程造价</option>
					<option department="02" value="2013035">2013035水文</option>
					<option department="02" value="2013036">2013036水文</option>
					<option department="02" value="2013037">2013037水文</option>
					<option department="02" value="2013038">2013038水文</option>
					<option department="02" value="2013039">2013039港航</option>
					<option department="02" value="2013040">2013040港航</option>
					<option department="02" value="2013041">2013041港航</option>
					<option department="03" value="2013042">2013042土木</option>
					<option department="03" value="2013043">2013043土木</option>
					<option department="03" value="2013044">2013044土木</option>
					<option department="03" value="2013045">2013045土木</option>
					<option department="03" value="2013046">2013046土木</option>
					<option department="03" value="2013047">2013047土木</option>
					<option department="03" value="2013048">2013048土木</option>
					<option department="03" value="2013049">2013049土木</option>
					<option department="03" value="2013050">2013050土木</option>
					<option department="03" value="2013051">2013051交通工程</option>
					<option department="03" value="2013052">2013052交通工程</option>
					<option department="03" value="2013053">2013053交通工程</option>
					<option department="03" value="2013054">2013054交通工程</option>
					<option department="03" value="2013055">2013055力学</option>
					<option department="03" value="2013056">2013056力学</option>
					<option department="03" value="2013057">2013057力学</option>
					<option department="03" value="2013058">2013058桥渡</option>
					<option department="03" value="2013059">2013059桥渡</option>
					<option department="03" value="2013060">2013060桥渡</option>
					<option department="03" value="2013061">2013061桥渡</option>
					<option department="03" value="2013062">2013062材料工程</option>
					<option department="03" value="2013063">2013063材料工程</option>
					<option department="03" value="2013064">2013064材料工程</option>
					<option department="03" value="2013065">2013065材料工程</option>
					<option department="03" value="2013066">2013066资源循环</option>
					<option department="03" value="2013067">2013067资源循环</option>
					<option department="03" value="2013068">2013068建筑节能</option>
					<option department="03" value="2013069">2013069建筑节能</option>
					<option department="45" value="2013070">2013070城规</option>
					<option department="45" value="2013071">2013071城规</option>
					<option department="45" value="2013072">2013072城规</option>
					<option department="03" value="2013073">2013073建筑学</option>
					<option department="03" value="2013074">2013074建筑学</option>
					<option department="03" value="2013075">2013075建筑学</option>
					<option department="45" value="2013076">2013076环境设计</option>
					<option department="45" value="2013077">2013077环境设计</option>
					<option department="45" value="2013078">2013078视觉传达</option>
					<option department="45" value="2013079">2013079视觉传达</option>
					<option department="45" value="2013080">2013080公共艺术</option>
					<option department="45" value="2013081">2013081公共艺术</option>
					<option department="04" value="2013082">2013082机自</option>
					<option department="04" value="2013083">2013083机自</option>
					<option department="04" value="2013084">2013084机自</option>
					<option department="04" value="2013085">2013085机自</option>
					<option department="04" value="2013086">2013086机自</option>
					<option department="04" value="2013087">2013087机自</option>
					<option department="04" value="2013088">2013088机自</option>
					<option department="04" value="2013089">2013089机自</option>
					<option department="04" value="2013090">2013090机自</option>
					<option department="04" value="2013091">2013091材控</option>
					<option department="04" value="2013092">2013092材控</option>
					<option department="04" value="2013093">2013093材控</option>
					<option department="04" value="2013094">2013094材控</option>
					<option department="04" value="2013095">2013095交通运输</option>
					<option department="04" value="2013096">2013096交通运输</option>
					<option department="04" value="2013097">2013097交通运输</option>
					<option department="04" value="2013098">2013098测控</option>
					<option department="04" value="2013099">2013099测控</option>
					<option department="04" value="2013100">2013100测控</option>
					<option department="05" value="2013101">2013101热动</option>
					<option department="05" value="2013102">2013102热动</option>
					<option department="05" value="2013103">2013103热动</option>
					<option department="05" value="2013104">2013104热动</option>
					<option department="05" value="2013105">2013105热动</option>
					<option department="05" value="2013106">2013106水动</option>
					<option department="05" value="2013107">2013107水动</option>
					<option department="05" value="2013108">2013108水动</option>
					<option department="05" value="2013109">2013109水动</option>
					<option department="05" value="2013110">2013110电气</option>
					<option department="05" value="2013111">2013111电气</option>
					<option department="05" value="2013112">2013112电气</option>
					<option department="05" value="2013113">2013113电气</option>
					<option department="05" value="2013114">2013114电气</option>
					<option department="05" value="2013115">2013115电气</option>
					<option department="05" value="2013116">2013116电气</option>
					<option department="05" value="2013117">2013117电气</option>
					<option department="05" value="2013118">2013118电气</option>
					<option department="05" value="2013119">2013119自动化</option>
					<option department="05" value="2013120">2013120自动化</option>
					<option department="05" value="2013121">2013121自动化</option>
					<option department="05" value="2013122">2013122电子科学</option>
					<option department="05" value="2013123">2013123电子科学</option>
					<option department="05" value="2013124">2013124电子科学</option>
					<option department="05" value="2013125">2013125核工程</option>
					<option department="05" value="2013126">2013126核工程</option>
					<option department="06" value="2013127">2013127给排水</option>
					<option department="06" value="2013128">2013128给排水</option>
					<option department="06" value="2013129">2013129给排水</option>
					<option department="06" value="2013130">2013130建环</option>
					<option department="06" value="2013131">2013131建环</option>
					<option department="06" value="2013132">2013132建环</option>
					<option department="06" value="2013133">2013133环工</option>
					<option department="06" value="2013134">2013134环工</option>
					<option department="06" value="2013135">2013135消防</option>
					<option department="06" value="2013136">2013136消防</option>
					<option department="06" value="2013137">2013137应用化学</option>
					<option department="06" value="2013138">2013138应用化学</option>
					<option department="07" value="2013139">2013139经济学</option>
					<option department="07" value="2013140">2013140经济学</option>
					<option department="07" value="2013141">2013141会计学</option>
					<option department="07" value="2013142">2013142会计学</option>
					<option department="07" value="2013143">2013143会计学</option>
					<option department="07" value="2013144">2013144国贸</option>
					<option department="07" value="2013145">2013145国贸</option>
					<option department="07" value="2013146">2013146工业</option>
					<option department="07" value="2013147">2013147工业</option>
					<option department="07" value="2013148">2013148信管</option>
					<option department="07" value="2013149">2013149信管</option>
					<option department="07" value="2013150">2013150市场营销</option>
					<option department="07" value="2013151">2013151市场营销</option>
					<option department="07" value="2013152">2013152物流管理</option>
					<option department="07" value="2013153">2013153物流管理</option>
					<option department="08" value="2013154">2013154计算机</option>
					<option department="08" value="2013155">2013155计算机</option>
					<option department="08" value="2013156">2013156计算机</option>
					<option department="08" value="2013157">2013157计算机</option>
					<option department="08" value="2013158">2013158电信</option>
					<option department="08" value="2013159">2013159电信</option>
					<option department="08" value="2013160">2013160电信</option>
					<option department="08" value="2013161">2013161通信工程</option>
					<option department="08" value="2013162">2013162通信工程</option>
					<option department="08" value="2013163">2013163通信工程</option>
					<option department="08" value="2013164">2013164电子技术</option>
					<option department="08" value="2013165">2013165电子技术</option>
					<option department="08" value="2013166">2013166网络工程</option>
					<option department="08" value="2013167">2013167网络工程</option>
					<option department="10" value="2013168">2013168信息</option>
					<option department="10" value="2013169">2013169信息</option>
					<option department="10" value="2013170">2013170信息</option>
					<option department="10" value="2013171">2013171数学</option>
					<option department="10" value="2013172">2013172数学</option>
					<option department="10" value="2013173">2013173统计学</option>
					<option department="10" value="2013174">2013174统计学</option>
					<option department="10" value="2013175">2013175应用统计</option>
					<option department="10" value="2013176">2013176应用统计</option>
					<option department="09" value="2013177">2013177英语</option>
					<option department="09" value="2013178">2013178英语</option>
					<option department="09" value="2013179">2013179俄语</option>
					<option department="09" value="2013180">2013180俄语</option>
					<option department="09" value="2013181">2013181汉语国际</option>
					<option department="09" value="2013182">2013182汉语国际</option>
					<option department="11" value="2013183">2013183法学</option>
					<option department="11" value="2013184">2013184法学</option>
					<option department="11" value="2013185">2013185行政管理</option>
					<option department="11" value="2013186">2013186行政管理</option>
					<option department="11" value="2013187">2013187劳动保障</option>
					<option department="11" value="2013188">2013188劳动保障</option>
					<option department="49" value="2013189">2013189软件工程</option>
					<option department="49" value="2013190">2013190软件工程</option>
					<option department="49" value="2013191">2013191娱乐软件</option>
					<option department="49" value="2013192">2013192娱乐软件</option>
					<option department="01" value="2013193">2013193地质灾害</option>
					<option department="01" value="2013194">2013194地质灾害</option>
					<option department="01" value="2013195">2013195地质灾害</option>
					<option department="04" value="2013196">2013196机械制造</option>
					<option department="04" value="2013197">2013197机械制造</option>
					<option department="04" value="2013198">2013198机械制造</option>
					<option department="01" value="2014001">2014001地质</option>
					<option department="01" value="2014002">2014002地质</option>
					<option department="01" value="2014003">2014003地质</option>
					<option department="01" value="2014004">2014004地质</option>
					<option department="01" value="2014005">2014005物探</option>
					<option department="01" value="2014006">2014006物探</option>
					<option department="01" value="2014007">2014007岩土</option>
					<option department="01" value="2014008">2014008岩土</option>
					<option department="01" value="2014009">2014009人文地理</option>
					<option department="01" value="2014010">2014010人文地理</option>
					<option department="01" value="2014011">2014011地理</option>
					<option department="01" value="2014012">2014012测绘</option>
					<option department="01" value="2014013">2014013测绘</option>
					<option department="01" value="2014014">2014014测绘</option>
					<option department="01" value="2014015">2014015地下空间</option>
					<option department="01" value="2014016">2014016地下空间</option>
					<option department="02" value="2014017">2014017农水</option>
					<option department="02" value="2014018">2014018农水</option>
					<option department="02" value="2014019">2014019农水</option>
					<option department="02" value="2014020">2014020农水</option>
					<option department="02" value="2014021">2014021水工</option>
					<option department="02" value="2014022">2014022水工</option>
					<option department="02" value="2014023">2014023水工</option>
					<option department="02" value="2014024">2014024水工</option>
					<option department="02" value="2014025">2014025水工</option>
					<option department="02" value="2014026">2014026水工</option>
					<option department="02" value="2014027">2014027水工</option>
					<option department="02" value="2014028">2014028水工</option>
					<option department="02" value="2014029">2014029水工</option>
					<option department="02" value="2014030">2014030工程管理</option>
					<option department="02" value="2014031">2014031工程管理</option>
					<option department="02" value="2014032">2014032工程管理</option>
					<option department="02" value="2014033">2014033工程造价</option>
					<option department="02" value="2014034">2014034工程造价</option>
					<option department="02" value="2014035">2014035工程造价</option>
					<option department="02" value="2014036">2014036水文</option>
					<option department="02" value="2014037">2014037水文</option>
					<option department="02" value="2014038">2014038水文</option>
					<option department="02" value="2014039">2014039水文</option>
					<option department="02" value="2014040">2014040港航</option>
					<option department="02" value="2014041">2014041港航</option>
					<option department="02" value="2014042">2014042港航</option>
					<option department="03" value="2014043">2014043土木</option>
					<option department="03" value="2014044">2014044土木</option>
					<option department="03" value="2014045">2014045土木</option>
					<option department="03" value="2014046">2014046土木</option>
					<option department="03" value="2014047">2014047土木</option>
					<option department="03" value="2014048">2014048土木</option>
					<option department="03" value="2014049">2014049土木</option>
					<option department="03" value="2014050">2014050土木</option>
					<option department="03" value="2014051">2014051土木</option>
					<option department="03" value="2014052">2014052土木</option>
					<option department="03" value="2014053">2014053交通工程</option>
					<option department="03" value="2014054">2014054交通工程</option>
					<option department="03" value="2014055">2014055交通工程</option>
					<option department="03" value="2014056">2014056交通工程</option>
					<option department="03" value="2014057">2014057力学</option>
					<option department="03" value="2014058">2014058力学</option>
					<option department="03" value="2014059">2014059力学</option>
					<option department="03" value="2014060">2014060力学</option>
					<option department="03" value="2014061">2014061桥渡</option>
					<option department="03" value="2014062">2014062桥渡</option>
					<option department="03" value="2014063">2014063桥渡</option>
					<option department="03" value="2014064">2014064桥渡</option>
					<option department="03" value="2014065">2014065材料工程</option>
					<option department="03" value="2014066">2014066材料工程</option>
					<option department="03" value="2014067">2014067材料工程</option>
					<option department="03" value="2014068">2014068材料工程</option>
					<option department="03" value="2014069">2014069资源循环</option>
					<option department="03" value="2014070">2014070资源循环</option>
					<option department="03" value="2014071">2014071建筑节能</option>
					<option department="03" value="2014072">2014072建筑节能</option>
					<option department="45" value="2014073">2014073城规</option>
					<option department="45" value="2014074">2014074城规</option>
					<option department="45" value="2014075">2014075城规</option>
					<option department="03" value="2014076">2014076建筑学</option>
					<option department="03" value="2014077">2014077建筑学</option>
					<option department="03" value="2014078">2014078建筑学</option>
					<option department="45" value="2014079">2014079环境设计</option>
					<option department="45" value="2014080">2014080环境设计</option>
					<option department="45" value="2014081">2014081视觉传达</option>
					<option department="45" value="2014082">2014082视觉传达</option>
					<option department="45" value="2014083">2014083公共艺术</option>
					<option department="45" value="2014084">2014084公共艺术</option>
					<option department="04" value="2014085">2014085机自</option>
					<option department="04" value="2014086">2014086机自</option>
					<option department="04" value="2014087">2014087机自</option>
					<option department="04" value="2014088">2014088机自</option>
					<option department="04" value="2014089">2014089机自</option>
					<option department="04" value="2014090">2014090机自</option>
					<option department="04" value="2014091">2014091机自</option>
					<option department="04" value="2014092">2014092机自</option>
					<option department="04" value="2014093">2014093机自</option>
					<option department="04" value="2014094">2014094材控</option>
					<option department="04" value="2014095">2014095材控</option>
					<option department="04" value="2014096">2014096材控</option>
					<option department="04" value="2014097">2014097材控</option>
					<option department="04" value="2014098">2014098交通运输</option>
					<option department="04" value="2014099">2014099交通运输</option>
					<option department="04" value="2014100">2014100交通运输</option>
					<option department="04" value="2014101">2014101测控</option>
					<option department="04" value="2014102">2014102测控</option>
					<option department="04" value="2014103">2014103测控</option>
					<option department="05" value="2014104">2014104热动</option>
					<option department="05" value="2014105">2014105热动</option>
					<option department="05" value="2014106">2014106热动</option>
					<option department="05" value="2014107">2014107热动</option>
					<option department="05" value="2014108">2014108热动</option>
					<option department="05" value="2014109">2014109水动</option>
					<option department="05" value="2014110">2014110水动</option>
					<option department="05" value="2014111">2014111水动</option>
					<option department="05" value="2014112">2014112水动</option>
					<option department="05" value="2014113">2014113电气</option>
					<option department="05" value="2014114">2014114电气</option>
					<option department="05" value="2014115">2014115电气</option>
					<option department="05" value="2014116">2014116电气</option>
					<option department="05" value="2014117">2014117电气</option>
					<option department="05" value="2014118">2014118电气</option>
					<option department="05" value="2014119">2014119电气</option>
					<option department="05" value="2014120">2014120电气</option>
					<option department="05" value="2014121">2014121电气</option>
					<option department="05" value="2014122">2014122自动化</option>
					<option department="05" value="2014123">2014123自动化</option>
					<option department="05" value="2014124">2014124自动化</option>
					<option department="05" value="2014125">2014125电子科学</option>
					<option department="05" value="2014126">2014126电子科学</option>
					<option department="05" value="2014127">2014127电子科学</option>
					<option department="05" value="2014128">2014128核工程</option>
					<option department="05" value="2014129">2014129核工程</option>
					<option department="06" value="2014130">2014130给排水</option>
					<option department="06" value="2014131">2014131给排水</option>
					<option department="06" value="2014132">2014132给排水</option>
					<option department="06" value="2014133">2014133建环</option>
					<option department="06" value="2014134">2014134建环</option>
					<option department="06" value="2014135">2014135建环</option>
					<option department="06" value="2014136">2014136环工</option>
					<option department="06" value="2014137">2014137环工</option>
					<option department="06" value="2014138">2014138消防</option>
					<option department="06" value="2014139">2014139消防</option>
					<option department="06" value="2014140">2014140应用化学</option>
					<option department="06" value="2014141">2014141应用化学</option>
					<option department="07" value="2014142">2014142经济学</option>
					<option department="07" value="2014143">2014143经济学</option>
					<option department="07" value="2014144">2014144会计学</option>
					<option department="07" value="2014145">2014145会计学</option>
					<option department="07" value="2014146">2014146会计学</option>
					<option department="07" value="2014147">2014147国贸</option>
					<option department="07" value="2014148">2014148国贸</option>
					<option department="07" value="2014149">2014149工业</option>
					<option department="07" value="2014150">2014150工业</option>
					<option department="07" value="2014151">2014151信管</option>
					<option department="07" value="2014152">2014152信管</option>
					<option department="07" value="2014153">2014153市场营销</option>
					<option department="07" value="2014154">2014154市场营销</option>
					<option department="07" value="2014155">2014155物流管理</option>
					<option department="07" value="2014156">2014156物流管理</option>
					<option department="08" value="2014157">2014157计算机</option>
					<option department="08" value="2014158">2014158计算机</option>
					<option department="08" value="2014159">2014159计算机</option>
					<option department="08" value="2014160">2014160计算机</option>
					<option department="08" value="2014161">2014161电信</option>
					<option department="08" value="2014162">2014162电信</option>
					<option department="08" value="2014163">2014163电信</option>
					<option department="08" value="2014164">2014164通信工程</option>
					<option department="08" value="2014165">2014165通信工程</option>
					<option department="08" value="2014166">2014166通信工程</option>
					<option department="08" value="2014167">2014167电子技术</option>
					<option department="08" value="2014168">2014168电子技术</option>
					<option department="08" value="2014169">2014169网络工程</option>
					<option department="08" value="2014170">2014170网络工程</option>
					<option department="10" value="2014171">2014171信息</option>
					<option department="10" value="2014172">2014172信息</option>
					<option department="10" value="2014173">2014173信息</option>
					<option department="10" value="2014174">2014174数学</option>
					<option department="10" value="2014175">2014175数学</option>
					<option department="10" value="2014176">2014176统计学</option>
					<option department="10" value="2014177">2014177统计学</option>
					<option department="10" value="2014178">2014178应用统计</option>
					<option department="10" value="2014179">2014179应用统计</option>
					<option department="09" value="2014180">2014180英语</option>
					<option department="09" value="2014181">2014181英语</option>
					<option department="09" value="2014182">2014182俄语</option>
					<option department="09" value="2014183">2014183汉语国际</option>
					<option department="09" value="2014184">2014184汉语国际</option>
					<option department="11" value="2014185">2014185法学</option>
					<option department="11" value="2014186">2014186法学</option>
					<option department="11" value="2014187">2014187行政管理</option>
					<option department="11" value="2014188">2014188行政管理</option>
					<option department="11" value="2014189">2014189劳动保障</option>
					<option department="11" value="2014190">2014190劳动保障</option>
					<option department="49" value="2014191">2014191软件工程</option>
					<option department="49" value="2014192">2014192软件工程</option>
					<option department="49" value="2014193">2014193娱乐软件</option>
					<option department="49" value="2014194">2014194娱乐软件</option>
					<option department="01" value="2014195">2014195地质灾害</option>
					<option department="01" value="2014196">2014196地质灾害</option>
					<option department="01" value="2014197">2014197地质灾害</option>
					<option department="04" value="2014198">2014198机械制造</option>
					<option department="04" value="2014199">2014199机械制造</option>
					<option department="04" value="2014200">2014200机械制造</option>
					<option department="02" value="2014201">2014201水工</option>
					<option department="02" value="2014202">2014202水工</option>
					<option department="02" value="2014203">2014203水工</option>
					<option department="02" value="2014204">2014204水工</option>
					<option department="03" value="2014205">2014205土木</option>
					<option department="03" value="2014206">2014206土木</option>
					<option department="07" value="2014207">2014207会计学</option>
					<option department="07" value="2014208">2014208会计学</option>
					<option department="07" value="2014209">2014209会计学</option>
					<option department="07" value="2014210">2014210会计学</option>
					<option department="08" value="2014211">2014211计算机</option>
					<option department="04" value="2012085">材控2012085</option>
					<option department="04" value="2012086">材控2012086</option>
					<option department="04" value="2012087">材控2012087</option>
					<option department="04" value="2012088">材控2012088</option>
					<option department="03" value="2012057">材料工程2012057</option>
					<option department="03" value="2012058">材料工程2012058</option>
					<option department="03" value="2012059">材料工程2012059</option>
					<option department="01" value="2012013">测绘2012013</option>
					<option department="01" value="2012014">测绘2012014</option>
					<option department="01" value="2012015">测绘2012015</option>
					<option department="04" value="2012092">测控2012092</option>
					<option department="04" value="2012093">测控2012093</option>
					<option department="04" value="2012094">测控2012094</option>
					<option department="03" value="2012064">城规2012064</option>
					<option department="03" value="2012065">城规2012065</option>
					<option department="03" value="2012066">城规2012066</option>
					<option department="01" value="2012011">地理2012011</option>
					<option department="01" value="2012012">地理2012012</option>
					<option department="01" value="2012001">地质2012001</option>
					<option department="01" value="2012002">地质2012002</option>
					<option department="01" value="2012003">地质2012003</option>
					<option department="01" value="2012004">地质2012004</option>
					<option department="01" value="2012225">地质卓越2012225</option>
					<option department="05" value="2012103">电气2012103</option>
					<option department="05" value="2012104">电气2012104</option>
					<option department="05" value="2012105">电气2012105</option>
					<option department="05" value="2012106">电气2012106</option>
					<option department="05" value="2012107">电气2012107</option>
					<option department="05" value="2012108">电气2012108</option>
					<option department="05" value="2012109">电气2012109</option>
					<option department="05" value="2012110">电气2012110</option>
					<option department="05" value="2012111">电气2012111</option>
					<option department="08" value="2012154">电信2012154</option>
					<option department="08" value="2012155">电信2012155</option>
					<option department="08" value="2012156">电信2012156</option>
					<option department="08" value="2012160">电子技术2012160</option>
					<option department="08" value="2012161">电子技术2012161</option>
					<option department="05" value="2012115">电子科学2012115</option>
					<option department="05" value="2012116">电子科学2012116</option>
					<option department="05" value="2012117">电子科学2012117</option>
					<option department="09" value="2012175">对外汉语2012175</option>
					<option department="09" value="2012176">对外汉语2012176</option>
					<option department="43" value="2012205">对外汉语S2012205</option>
					<option department="43" value="2012206">对外汉语S2012206</option>
					<option department="43" value="2012207">对外汉语S2012207</option>
					<option department="43" value="2012208">对外汉语S2012208</option>
					<option department="43" value="2012209">对外汉语S2012209</option>
					<option department="43" value="2012210">对外汉语S2012210</option>
					<option department="43" value="2012211">对外汉语S2012211</option>
					<option department="43" value="2012212">对外汉语S2012212</option>
					<option department="43" value="2012213">对外汉语S2012213</option>
					<option department="43" value="2012214">对外汉语S2012214</option>
					<option department="43" value="2012215">对外汉语S2012215</option>
					<option department="43" value="2012216">对外汉语S2012216</option>
					<option department="09" value="2012174">俄语2012174</option>
					<option department="11" value="2012177">法学2012177</option>
					<option department="11" value="2012178">法学2012178</option>
					<option department="11" value="2012179">法学2012179</option>
					<option department="02" value="2012038">港航2012038</option>
					<option department="02" value="2012039">港航2012039</option>
					<option department="02" value="2012040">港航2012040</option>
					<option department="06" value="2012120">给排水2012120</option>
					<option department="06" value="2012121">给排水2012121</option>
					<option department="06" value="2012122">给排水2012122</option>
					<option department="02" value="2012032">工管(造价)2012032</option>
					<option department="02" value="2012033">工管(造价)2012033</option>
					<option department="02" value="2012034">工管(造价)2012034</option>
					<option department="02" value="2012029">工管2012029</option>
					<option department="02" value="2012030">工管2012030</option>
					<option department="02" value="2012031">工管2012031</option>
					<option department="07" value="2012141">工业2012141</option>
					<option department="07" value="2012142">工业2012142</option>
					<option department="07" value="2012143">工业2012143</option>
					<option department="07" value="2012139">国贸2012139</option>
					<option department="07" value="2012140">国贸2012140</option>
					<option department="05" value="2012118">核工程2012118</option>
					<option department="05" value="2012119">核工程2012119</option>
					<option department="06" value="2012126">环工2012126</option>
					<option department="06" value="2012127">环工2012127</option>
					<option department="06" value="2012128">环工2012128</option>
					<option department="07" value="2012136">会计学2012136</option>
					<option department="07" value="2012137">会计学2012137</option>
					<option department="07" value="2012138">会计学2012138</option>
					<option department="04" value="2012076">机自2012076</option>
					<option department="04" value="2012077">机自2012077</option>
					<option department="04" value="2012078">机自2012078</option>
					<option department="04" value="2012079">机自2012079</option>
					<option department="04" value="2012080">机自2012080</option>
					<option department="04" value="2012081">机自2012081</option>
					<option department="04" value="2012082">机自2012082</option>
					<option department="04" value="2012083">机自2012083</option>
					<option department="04" value="2012084">机自2012084</option>
					<option department="08" value="2012150">计算机2012150</option>
					<option department="08" value="2012151">计算机2012151</option>
					<option department="08" value="2012152">计算机2012152</option>
					<option department="08" value="2012153">计算机2012153</option>
					<option department="06" value="2012123">建环2012123</option>
					<option department="06" value="2012124">建环2012124</option>
					<option department="06" value="2012125">建环2012125</option>
					<option department="03" value="2012062">建筑节能2012062</option>
					<option department="03" value="2012063">建筑节能2012063</option>
					<option department="03" value="2011063">建筑学2011063</option>
					<option department="03" value="2011064">建筑学2011064</option>
					<option department="03" value="2011065">建筑学2011065</option>
					<option department="03" value="2012067">建筑学2012067</option>
					<option department="03" value="2012068">建筑学2012068</option>
					<option department="03" value="2012069">建筑学2012069</option>
					<option department="03" value="2012050">交通工程2012050</option>
					<option department="03" value="2012051">交通工程2012051</option>
					<option department="03" value="2012052">交通工程2012052</option>
					<option department="03" value="2012053">交通工程2012053</option>
					<option department="04" value="2012089">交通运输2012089</option>
					<option department="04" value="2012090">交通运输2012090</option>
					<option department="04" value="2012091">交通运输2012091</option>
					<option department="07" value="2012134">经济学2012134</option>
					<option department="07" value="2012135">经济学2012135</option>
					<option department="11" value="2012182">劳动保障2012182</option>
					<option department="11" value="2012183">劳动保障2012183</option>
					<option department="03" value="2012054">力学2012054</option>
					<option department="03" value="2012055">力学2012055</option>
					<option department="03" value="2012056">力学2012056</option>
					<option department="02" value="2012016">农水2012016</option>
					<option department="02" value="2012017">农水2012017</option>
					<option department="02" value="2012018">农水2012018</option>
					<option department="02" value="2012019">农水2012019</option>
					<option department="05" value="2012095">热动2012095</option>
					<option department="05" value="2012096">热动2012096</option>
					<option department="05" value="2012097">热动2012097</option>
					<option department="05" value="2012098">热动2012098</option>
					<option department="49" value="2012184">软件工程2012184</option>
					<option department="49" value="2012185">软件工程2012185</option>
					<option department="07" value="2012146">市场营销2012146</option>
					<option department="07" value="2012147">市场营销2012147</option>
					<option department="10" value="2012166">数学2012166</option>
					<option department="10" value="2012167">数学2012167</option>
					<option department="05" value="2012099">水动2012099</option>
					<option department="05" value="2012100">水动2012100</option>
					<option department="05" value="2012101">水动2012101</option>
					<option department="05" value="2012102">水动2012102</option>
					<option department="02" value="2012020">水工2012020</option>
					<option department="02" value="2012021">水工2012021</option>
					<option department="02" value="2012022">水工2012022</option>
					<option department="02" value="2012023">水工2012023</option>
					<option department="02" value="2012024">水工2012024</option>
					<option department="02" value="2012025">水工2012025</option>
					<option department="02" value="2012026">水工2012026</option>
					<option department="02" value="2012027">水工2012027</option>
					<option department="02" value="2012028">水工2012028</option>
					<option department="02" value="2012226">水工卓越2012226</option>
					<option department="02" value="2012035">水文2012035</option>
					<option department="02" value="2012036">水文2012036</option>
					<option department="02" value="2012037">水文2012037</option>
					<option department="08" value="2012157">通信工程2012157</option>
					<option department="08" value="2012158">通信工程2012158</option>
					<option department="08" value="2012159">通信工程2012159</option>
					<option department="10" value="2012168">统计学2012168</option>
					<option department="10" value="2012169">统计学2012169</option>
					<option department="10" value="2012170">统计学2012170</option>
					<option department="03" value="2012041">土木2012041</option>
					<option department="03" value="2012042">土木2012042</option>
					<option department="03" value="2012043">土木2012043</option>
					<option department="03" value="2012044">土木2012044</option>
					<option department="03" value="2012045">土木2012045</option>
					<option department="03" value="2012046">土木2012046</option>
					<option department="03" value="2012047">土木2012047</option>
					<option department="03" value="2012048">土木2012048</option>
					<option department="03" value="2012049">土木2012049</option>
					<option department="08" value="2012162">网络工程2012162</option>
					<option department="08" value="2012163">网络工程2012163</option>
					<option department="07" value="2012148">物流管理2012148</option>
					<option department="07" value="2012149">物流管理2012149</option>
					<option department="01" value="2012005">物探2012005</option>
					<option department="01" value="2012006">物探2012006</option>
					<option department="06" value="2012129">消防2012129</option>
					<option department="06" value="2012130">消防2012130</option>
					<option department="06" value="2012131">消防2012131</option>
					<option department="07" value="2012144">信管2012144</option>
					<option department="07" value="2012145">信管2012145</option>
					<option department="10" value="2012164">信息2012164</option>
					<option department="10" value="2012165">信息2012165</option>
					<option department="11" value="2012180">行政管理2012180</option>
					<option department="11" value="2012181">行政管理2012181</option>
					<option department="01" value="2012007">岩土2012007</option>
					<option department="01" value="2012008">岩土2012008</option>
					<option department="45" value="2012070">艺术2012070</option>
					<option department="45" value="2012071">艺术2012071</option>
					<option department="45" value="2012072">艺术2012072</option>
					<option department="45" value="2012073">艺术2012073</option>
					<option department="45" value="2012074">艺术2012074</option>
					<option department="45" value="2012075">艺术2012075</option>
					<option department="06" value="2012132">应用化学2012132</option>
					<option department="06" value="2012133">应用化学2012133</option>
					<option department="09" value="2012171">英语2012171</option>
					<option department="09" value="2012172">英语2012172</option>
					<option department="09" value="2012173">英语2012173</option>
					<option department="43" value="2012202">英语S2012202</option>
					<option department="43" value="2012203">英语S2012203</option>
					<option department="43" value="2012204">英语S2012204</option>
					<option department="03" value="2012060">再生资源2012060</option>
					<option department="03" value="2012061">再生资源2012061</option>
					<option department="01" value="2012009">资环2012009</option>
					<option department="01" value="2012010">资环2012010</option>
					<option department="05" value="2012112">自动化2012112</option>
					<option department="05" value="2012113">自动化2012113</option>
					<option department="05" value="2012114">自动化2012114</option>
				</select>
				<span>学号(必填):</span>
				<input type="text" name="student_number" value="">
				<span class="validated_result"></span>
			</div>
		</div>
		<div id="input_submit">
			<input type="submit" name="submit_form" value="提交"></div>
		<span id="error_message"></span>
	</form>
</div>

</body>
</html>
