<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<!--<script type="text/javascript" src="http://cdn.bootcss.com/jquery/1.11.3/jquery.js"></script>
-->
<script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/js/index.js"></script>
<link href="/css/index.css" rel="stylesheet" type="text/css">
<style type="text/css"></style>
</head>

<body>
<div id="header">

	<div style="position:relative;">
		<img src="./img/school.png">
		<h1>考生信息录入</h1>
		<p>
			在这里输入你的个人信息
			<br>注意必填的项目</p>
	</div>
</div>

<div id='mainPanel'>
	<form name="info_form" action="submit" method="post">

		<div class="" id="input_exam_site_code">
			<label for="exam_site_code">考点(必填):</label>
			<select class="" name="exam_site_code">
				<option value="0">请选择</option>
				<option value="410084">华北水利水电大学（郑东新区）</option>
				<option value="410067">华北水利水电大学（北环路36号）</option>
			</select>
		</div>
		<div id="input_name">
			<label for="name">姓名(必填):</label>
			<input name="name" type="text">
			<span class="validated_result"></span>
		</div>

		<div id="input_sex">
			<label for="sex">性别(必选):</label>
			男
			<input type="radio" name="sex" value="male">
			&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp女
			<input type="radio" name="sex" value="famale"></div>
		<span class="validated_result"></span>

		<div id="input_id_type">
			<label for="id_type">证件类型(必选):</label>
			<select name="id_type">
				<option value="1" selected="selected">中华人民共和国居民身份证</option>
				<option value="2">台湾居民往来大陆通行证</option>
				<option value="3">港澳居民来往内地通行证</option>
				<option value="4">军人证件</option>
				<option value="5">护照</option>
			</select>
			<span class="validated_result"></span>
		</div>

		<div id="input_id_number">
			<label for="id_number">证件号码(必填);</label>
			<input type="text" name="id_number">
			<span class="validated_result"></span>
		</div>

		<div class="" id="input_birthday">
			<label for="birthday">出生日期(必填)</label>
			<input type="text" name="birthday">
			<span class="validated_result"></span>
			<div class="tips">
				请填写8位出生日期
				<br>如:19940123</div>
		</div>

		<div id="input_nationality">
			<label for="nationality">民族(必选):</label>
			<select name="nationality">
				<option value="0">请选择</option>
				<option value="01">汉</option>
				<option value="02">蒙古</option>
				<option value="03">回</option>
				<option value="04">藏</option>
				<option value="05">维吾尔</option>
				<option value="06">苗</option>
				<option value="07">彝</option>
				<option value="08">壮</option>
				<option value="09">布依</option>
				<option value="10">朝鲜</option>
				<option value="11">满</option>
				<option value="12">侗</option>
				<option value="13">瑶</option>
				<option value="14">白</option>
				<option value="15">土家</option>
				<option value="16">哈尼</option>
				<option value="17">哈萨克</option>
				<option value="18">傣</option>
				<option value="19">黎</option>
				<option value="20">傈僳</option>
				<option value="21">佤</option>
				<option value="22">畲</option>
				<option value="23">高山</option>
				<option value="24">拉祜</option>
				<option value="25">水</option>
				<option value="26">东乡</option>
				<option value="27">纳西</option>
				<option value="28">景颇</option>
				<option value="29">柯尔克孜</option>
				<option value="30">土</option>
				<option value="31">达斡尔</option>
				<option value="32">仫佬</option>
				<option value="33">羌</option>
				<option value="34">布朗</option>
				<option value="35">撒拉</option>
				<option value="36">毛难</option>
				<option value="37">仡佬</option>
				<option value="38">锡伯</option>
				<option value="39">阿昌</option>
				<option value="40">普米</option>
				<option value="41">塔吉克</option>
				<option value="42">怒</option>
				<option value="43">乌孜别克</option>
				<option value="44">俄罗斯</option>
				<option value="45">鄂温克</option>
				<option value="46">德昂</option>
				<option value="47">保安</option>
				<option value="48">裕固</option>
				<option value="49">京</option>
				<option value="50">塔塔尔</option>
				<option value="51">独龙</option>
				<option value="52">鄂伦春</option>
				<option value="53">赫哲</option>
				<option value="54">门巴</option>
				<option value="55">珞巴</option>
				<option value="56">基诺</option>
				<option value="97">其他</option>
				<option value="98">外国血统</option>
			</select>
			<span class="validated_result"></span>
		</div>

		<div id="input_career">
			<label for="career">职业(必选):</label>
			<select class="" name="career">
				<option value="00">请选择</option>
				<option value="30">学生</option>
				<option value="01">中国共产党中央委员会和地方各级组织负责人</option>
				<option value="02">国家机关及其工作机构负责人</option>
				<option value="03">民主党派和社会团体及其工作机构负责人</option>
				<option value="04">事业单位负责人</option>
				<option value="05">企业负责人</option>
				<option value="08">军人</option>
				<option value="09">不便分类的其他从业人员</option>
				<option value="10">失业（含待业及无业人员）</option>
				<option value="11">科学研究人员</option>
				<option value="13">工程技术人员</option>
				<option value="17">农业技术人员</option>
				<option value="18">飞机和船舶技术人员</option>
				<option value="19">卫生专业技术人员</option>
				<option value="21">经济业务人员</option>
				<option value="22">金融业务人员</option>
				<option value="23">法律专业人员</option>
				<option value="24">教学人员</option>
				<option value="25">文学艺术工作人员</option>
				<option value="26">体育工作人员</option>
				<option value="27">新闻出版、文化工作人员</option>
				<option value="28">宗教职业者</option>
				<option value="29">其他专业技术人员</option>
				<option value="31">行政办公人员</option>
				<option value="32">安全保卫和消防人员</option>
				<option value="33">邮政和电信业务人员</option>
				<option value="39">其他办事人员和有关人员</option>
				<option value="41">购销人员</option>
				<option value="42">仓储人员</option>
				<option value="43">餐饮服务人员</option>
				<option value="44">饭店、旅游及健身娱乐场所服务人员</option>
				<option value="45">运输服务人员</option>
				<option value="46">医疗卫生辅助服务人员</option>
				<option value="47">社会服务和居民生活服务人员</option>
				<option value="49">其他商业、服务业人员</option>
				<option value="51">种植业生产人员</option>
				<option value="52">林业生产及野生动植物保护人员</option>
				<option value="53">畜牧业生产人员</option>
				<option value="54">渔业生产人员</option>
				<option value="55">水利设施管理养护人员</option>
				<option value="59">其他农、林、牧、渔、水利业生产人员</option>
				<option value="61">勘测及矿物开采人员</option>
				<option value="62">金属冶炼、轧制人员</option>
				<option value="64">化工产品生产人员</option>
				<option value="66">机械制造加工人员</option>
				<option value="67">机电产品装配人员</option>
				<option value="71">机械设备修理人员</option>
				<option value="72">电力设备安装、运行、检修及供电人员</option>
				<option value="73">电子元器件与设备制造、装配、调试及维修人员</option>
				<option value="74">橡胶和塑料制品生产人员</option>
				<option value="75">纺织、针织、印染人员</option>
				<option value="76">裁剪、缝纫和皮革、毛皮制品加工制作人员</option>
				<option value="77">粮油、食品、饮料生产加工及饲料生产加工人员</option>
				<option value="78">烟草及其制品加工人员</option>
				<option value="79">药品生产人员</option>
				<option value="81">木材加工、人造板生产、木制品制作及制浆、造纸和纸制品生产加工人员</option>
				<option value="82">建筑材料生产加工人员</option>
				<option value="83">玻璃、陶瓷、搪瓷及其制品生产加工人员</option>
				<option value="84">广播影视制品制作、播放及文物保护作业人员</option>
				<option value="85">印刷人员</option>
				<option value="86">工艺、美术品制作人员</option>
				<option value="87">文化教育、体育用品制作人员</option>
				<option value="88">工程施工人员</option>
				<option value="91">运输设备操作人员及有关人员</option>
				<option value="92">环境监测与废物处理人员</option>
				<option value="93">检验、计量人员</option>
				<option value="99">其他生产、运输设备操作人员及有关人员</option>
			</select>
			<span class="validated_result"></span>
		</div>

		<div class="" id="input_degree_of_education">
			<label for="degree_of_education">文化程度(必选):</label>
			<select class="" name="degree_of_education">
				<option value="0">请选择</option>
				<option value="1">博士</option>
				<option value="2">硕士</option>
				<option value="3">本科</option>
				<option value="4">大专(专科)</option>
				<option value="5">高中(职高)</option>
				<option value="6">中专(中技)</option>
				<option value="7">初中</option>
				<option value="8">初中以下</option>
			</select>
			<span class="validated_result"></span>
		</div>

		<div class="" id="input_training_type">
			<label for="training_type">培训类型(必选):</label>
			<select class="" name="training_type">
				<option value="0">请选择</option>
				<option value="1">在校正规课程</option>
				<option value="2">社会培训班</option>
				<option value="3">未参加培训</option>
			</select>
			<span class="validated_result"></span>
		</div>

		<div class="" id="input_subject_code">
			<label for="subject_code">考试科目(必选):</label>
			<select class="" name="subject_code">
				<option value="0">请选择</option>
				<option value="24">二级 —— C语言程序设计</option>
				<option value="26">二级 —— VB语言程序设计</option>
				<option value="27">二级 —— VFP数据库程序设计</option>
				<option value="29">二级 —— Access数据库程序设计</option>
				<option value="35">三级 —— 网络技术</option>
				<option value="36">三级 —— 数据库技术</option>
				<option value="41">四级 —— 网络工程师</option>
				<option value="42">四级 —— 数据库工程师</option>
			</select>
			<span class="validated_result"></span>
		</div>
		<div class="" id="input_phone">
			<label for="phone">联系电话(必填):</label>
			<input type="text" name="phone" value="">
			<span class="validated_result"></span>
		</div>
		<div class="" id="input_post_code">
			<label for="post_code">邮编:</label>
			<input type="text" name="post_code" value="">
			<span class="validated_result"></span>
		</div>

		<div class="" id="input_address">
			<label for="address">地址:</label>
			<input type="text" name="address" value="">
			<span class="validated_result"></span>
		</div>

		<div class="" id="input_email">
			<label for="email">电子邮箱:</label>
			<input type="text" name="email" value="">
			<span class="validated_result"></span>
		</div>

		<div id="remark">
			<h4>备注</h4>
			<div class="" id="input_is_our_school">
				<label for="is_our_school">是否为本校学生？</label>
				<input type="checkbox" name="is_our_school" value="true">
			</div>

			<div class="" id="input_remark_for_not_our_school">
				<select class="" name="school">
					<option value="0">请选择学校</option>
					<option value="01">其他学校或工作单位</option>
					<option value="02">郑州大学</option>
					<option value="03">河南工业大学</option>
					<option value="04">河南农业大学</option>
					<option value="05">河南财经政法大学</option>
					<option value="06">铁道警察学院</option>
					<option value="07">郑州轻工业学院</option>
					<option value="08">中原工学院</option>
					<option value="09">河南牧业经济学院</option>
					<option value="10">河南中医学院</option>
					<option value="11">郑州航空工业管理学院</option>
					<option value="12">河南工程学院</option>
					<option value="13">河南警察学院</option>
					<option value="14">黄河科技学院</option>
					<option value="15">郑州科技学院</option>
					<option value="16">郑州华信学院</option>
					<option value="17">郑州师范学院</option>
					<option value="18">郑州成功财经学院</option>
					<option value="19">郑州升达经贸管理学院</option>
					<option value="20">河南财政税务高等专科学校</option>
					<option value="21">郑州电力高等专科学校</option>
					<option value="22">郑州幼儿师范高等专科学校</option>
					<option value="23">河南医学高等专科学校</option>
					<option value="24">郑州澍青医学高等专科学校</option>
					<option value="25">河南职业技术学院</option>
					<option value="26">郑州铁路职业技术学院</option>
					<option value="27">中州大学</option>
					<option value="28">河南水利与环境职业学院</option>
					<option value="29">河南信息统计职业学院</option>
					<option value="30">郑州电力职业技术学院</option>
					<option value="31">河南建筑职业技术学院</option>
					<option value="32">郑州城市职业学院</option>
					<option value="33">郑州理工职业学院</option>
					<option value="34">郑州信息工程职业学院</option>
					<option value="35">河南化工职业学院</option>
					<option value="35">河南艺术职业学院</option>
					<option value="37">河南机电职业学院</option>
					<option value="38">郑州商贸旅游职业学院</option>
					<option value="39">郑州黄河护理职业学院</option>
					<option value="40">郑州财税金融职业学院</option>
					<option value="41">河南司法警官职业学院</option>
					<option value="42">郑州经贸职业学院</option>
					<option value="43">郑州交通职业学院</option>
					<option value="44">河南检察职业学院</option>
					<option value="45">郑州信息科技职业学院</option>
					<option value="46">郑州电子信息职业技术学院</option>
					<option value="47">嵩山少林武术职业学院</option>
					<option value="48">郑州工业安全职业学院</option>
					<option value="49">河南经贸职业学院</option>
					<option value="50">河南交通职业技术学院</option>
					<option value="51">河南农业职业学院</option>
					<option value="52">郑州旅游职业学院</option>
					<option value="53">郑州职业技术学院</option>
					<option value="54">河南工业贸易职业学院</option>
				</select>
				<span>学校(必填):</span>
				<input type="text" name="school_name" value="">
				<span class="validated_result"></span>
			</div>

			<div class="" id="input_remark_for_is_our_school">
				<select class="" name="department">
					<option value="0">学院</option>
					<option value="01">资环</option>
					<option value="02">水利</option>
					<option value="03">土木</option>
					<option value="04">机械</option>
					<option value="05">电力</option>
					<option value="06">环工</option>
					<option value="07">管经</option>
					<option value="08">信工</option>
					<option value="09">外语</option>
					<option value="10">数信</option>
					<option value="11">法学</option>
					<option value="43">国教</option>
					<option value="45">建筑</option>
					<option value="49">软件</option>
				</select>
				<span>学号(必填):</span>
				<input type="text" name="student_number" value="">
				<span class="validated_result"></span>
			</div>
		</div>
		<div id="input_submit">
			<input type="submit" name="submit_form" value="提交"></div>
		<span id="error_message"></span>
	</form>
</div>

</body>
</html>
