<div id="<%= field %>" class="subFuncContent panel panel-default" style="display: <% if(show){ %>block<% }else{ %> none <% } %>" >
    <script src="/js/admin/configs/logs.js"></script>
    <div class="panel-heading">
        <h3 class="panel-title"><%= name %></h3>
    </div>
    <div class="panel-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 toolbar form-inline" style="margin-bottom:10px;">
                    <div class="pull-left">
                        <form class="form-inline" role="form" action="/admin/configs/logs" method="get">
                            <div class="form-group">
                                <label for="from">开始时间:</label>
                                <input type='text' name="from" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="from">结束时间:</label>
                                <input type='text' name="until" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="from">日志数</label>
                                <input name="limit" value="100" class="form-control" type="number" min="0">
                            </div>
                            <button type="button" class="btn btn-primary fetch">
                                获取/刷新
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <table class="logs"></table>
                </div>
            </div>
        </div>
    </div>
</div>