    body {
        background-color:#0288d1;
        text-align:center;
        font-family:'Microsoft YaHei','Arial';
    }

    /* size:700*480 */
    .mainPanel {
        position:relative;
        
        background-color:#fafafa;
        border-radius:12px;
        margin-left:auto;
        margin-right:auto;
        margin-top:140px;

        box-shadow:#616161 1px 1px 3px;
    }