* {
    font-family: "microsoft yahei";
}

body {
    background-color: #eee;
    font-size: 14px;
}

.pull-left .form-group,.pull-right .form-group{
    margin-bottom:10px;
}

.loader {
    display: inline-block;
    font-size: 10px;
    top: 4px;
    text-indent: -9999em;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    background: #ffffff;
    background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    position: relative;
    -webkit-animation: loading-anime 1.4s infinite linear;
    animation: loading-anime 1.4s infinite linear;
}
.loader:before {
    width: 50%;
    height: 50%;
    background: #FFF;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
}
.loader:after {
    background: #0dcecb;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.alert-info .loader:after{
    background: #9c27b0;
}

@-webkit-keyframes loading-anime {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes loading-anime {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.form-inline .form-group{
    margin-right:10px;
}
.form-inline .form-group label{
    margin-left:5px;
    margin-right:5px;
}

.my-heading>h4+button{
    margin-top: 7px;
}

.my-heading+.clearfix>hr{
    margin-top:10px;
    margin-bottom:15px;
}

.navbar-inverse .navbar-text {
    margin-right: 20px;
    color: #fff;
}

.navbar-inverse .navbar-brand {
    color: #fff;
    font-size: 20px;
    margin-right: 20px;
}

.navbar-inverse .navbar-brand:hover {
    background-color: #6FBBF7;
    color: #fff;
}

.navbar-inverse .navbar-brand.active {
    background-color: #0c7cd5;
}

.navbar-inverse .navbar-collapse .navbar-nav > li > a {
    color: #fff;
}

.navbar-inverse .navbar-collapse .navbar-nav > li > a:hover {
    background-color: #6FBBF7;
    color: #fff;
}

#content_functionList {
    text-align: center;
}

#content_functionList > div {
    margin: 23px auto;
    text-align: left;
}

@media (min-width: 992px) {
    #content_functionList > div {
        margin-top: 30px;
        max-width: 228px;
    }
}

i.glyphicon+span{
    margin-left: 6px;
}
/*
.input-group input[type=text] {
    height: 35px;
    background-color: #fff;
    padding-left: 10px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
}

.input-group input[type=text]:focus {
    z-index: 1;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    border-bottom: solid 2px rgb(102, 175, 233);
}*/

.toolbar input[name="searchText"]{
    font-size: 12px;
    width:180px;
    margin-right: 10px;
}

.checkbox{
    margin-right: 10px;
}

#enterList input[type="checkbox"]:after {
    width: 16px;
    height: 16px;
    margin: 0px;
}

.cell, .cell input, .cell select {
    white-space: nowrap;
    padding-right: 10px;
}

.cell a, .cell a:hover {
    border-bottom: hidden;
    cursor: pointer;
    color:#0c84e4;
}

#logs .logs.table-condensed > thead > tr > th,
#logs .logs.table-condensed > tbody > tr > th,
#logs .logs.table-condensed > tfoot > tr > th,
#logs .logs.table-condensed > thead > tr > td,
#logs .logs.table-condensed > tbody > tr > td,
#logs .logs.table-condensed > tfoot > tr > td {
    padding: 0px;
}

#crontabGenerator .content{
    border:solid 1px #aaa;
    border-radius:20px;
    padding:20px;
    margin-top: 20px;
    display:none;
}
#crontabGenerator .content input[type="radio"]{
    vertical-align: middle;
    margin-right:10px;
}

