* {
    font-family:"Microsoft YaHei";
    font-weight: 400;
}
body{
    background-color: #eee;
}

#mainPanel{
    max-width: 420px;
    margin:60px auto;
    background-color: #fefefe;
}

#mainPanel .header{
    padding:1px 25px 15px;
    background-color: #2196f3;
}

#mainPanel .header *{
    color:#fff;
}

#mainPanel .panel-body{
    padding:30px;
}

#captcha{
    border: solid 1px #ccc;
    border-radius: 5px;
}

@media (max-width: 420px) {
    #mainPanel{
        margin:0px auto;
        box-shadow: none;
    }
    body{
        background-color: #fefefe;
    }
}

