/* CSS Document */

A:link {
	TEXT-DECORATION: none;
	color: blue;
}
A:visited {
	TEXT-DECORATION: none;
	color: blue;
	}
A:active {
	COLOR: #FF0000; TEXT-DECORATION: none
}
A {
	TEXT-TRANSFORM: none;
	TEXT-DECORATION: none;
	font-size: 16px;
}
A:hover {
	TEXT-DECORATION: none
}
body         { color: #000000; font-size: 9pt; line-height: 12pt; font-family: ו ; margin-top:0; margin-left:0}
th           { font-size: 9pt; line-height: 12pt }
td           {font-size: 9pt; line-height: 12pt  }
.atd    {font-size: 12pt; line-height: 18pt  }
a.1:link     { font-family: Arial; text-decoration: none; color: black }
a.1:visited  { font-family: Arial; text-decoration: none; color: black }
a.1:active   { font-family: Arial; text-decoration: none; color: black }
a.1:hover    { font-family: Arial; text-decoration: none; color: silver }
.line        { line-height: 10pt }
.il          { line-height: 12pt }
.form        { font-size: 9pt }
.STYLE1 {
	font-size: 9pt;
	font-weight: bold;
}
.STYLE2 {color: #F6F6F6}
.STYLE3 {color: #000000}
.style4 {color: #FFFFFF; background-color:#999999}
.STYLE6 {color: #FF0000; font-weight: bold; }
.s1 {
	FONT-SIZE: 12px;
	PADDING-TOP: 8px;
}